<div>
  <div uib-carousel active="active" interval="Interval" no-wrap="noWrapSlides" class="row">
    <div uib-slide ng-repeat="slide in slides track by $index" index="$index" style="width: 100%;">
      <div class="col-md-3" ng-repeat="item in slide">
        <div class="carousel-item" ui-sref="app.companyMain.companyDetail({id:item.id})">
          <div class="carousel-logo-homepage">
            <img class="img-responsive" ng-src="{{item.logo}}" style="margin: auto;">
          </div>
          <p style="margin: 15px 0"><a ui-sref="app.jobDescription({id:item.id})"><b>{{item.name}}</b></a></p>
          <p style="padding-bottom: 20px"><a ui-sref="app.companyMain.companyDetail({id:item.id})"><b>{{item.companyName}}</b></a></p>
        </div>
      </div>
    </div>
  </div>
</div>

