<div class="findElite-wrapper clearfix">
  <div class="elite-title">
    <div class="banner elite-banner">
      <div id="carousel-example-generic" class="carousel slide"
           data-ride="carousel">
        <div class="carousel-inner" role="listBox">
          <div class="item" ng-repeat="findEliteArticle in vm.findEliteArticle.articleList track by $index"
               ng-class="{'active':$first}">
            <img data-target="#home-top-carousel" ng-src="{{findEliteArticle.img}}" >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--position banner -->
  <div class="position-banner-bot clearfix">
    <div class="col-md-6 col-xs-12 position-banner-textBot">
      <p  class="findJob-big-size">0预付，无风险 </p>
      <p>入职付一半，转正付一半 </p>
      <p>普通猎头是三个月的薪水。非一般的我们只收一个月的薪水。如果试用期不通过，免费推荐另一个</p>
    </div>
    <div class="col-md-6 col-xs-12 position-banner-topImg">
      <div class="img-box">
        <img src="../../images/findJob/zjy-youxuan.png" class="img-responsive">
      </div>
    </div>
  </div>
  <div class="position-banner-top clearfix">
    <div class="col-md-6 col-xs-12">
      <div class="img-box1 clearfix">
        <img src="../../images/findElite/zjy-zhuanzhu.png" class="img-responsive">
      </div>
    </div>
    <div class="col-md-6 col-xs-12 position-banner-textTop">
      <p class="findJob-big-size">专注于</p>
      <p>最新最热门的IT互联网人才</p>
      <p>萝卜多自己开发了一套强大的IT互联网人才库系统，有业界最新最活跃最有效的人才库，
        这里有最新最热门的IT互联网运营和技术人才，在各大互联网公司都有足够强的人脉圈。</p>
    </div>
  </div>
  <div class="position-banner-bot clearfix">
    <div class="col-md-6 col-xs-12 position-banner-textBot">
      <p  class="findJob-big-size">优选人才，高效推荐 </p>
      <p>1-3天发送首个聘请通知<br>
        甄选职位 深度匹配 发送聘请通知 </p>
      <p> 3-5天安排候选人面试 <br>
        安排面试 协助客户快速入职</p>

      <p>平均一周内推荐成功 <br>
        多方洽谈 售后服务</p>
    </div>
    <div class="col-md-6 col-xs-12 position-banner-topImg">
      <div class="img-box">
        <img src="../../images/findJob/zjy-youxuan.png" class="img-responsive">
      </div>
    </div>
  </div>

  <!--service flow-->
  <div class="service-flow">
    <div class="container">
      <div class="service-flow-title text-center">
        <span class="home-service-line"></span>
        <span class="home-service-title">萝卜多，服务流程</span>
        <span class="home-service-line"></span>
      </div>
      <div class="row text-center">
        <div class="col-md-4 col-xs-12">
          <div class="flow-img">
            <img src="../../images/findElite/zjy-liucheng-1.png" alt="">
          </div>
          <div class="flow-text">
            <p>意向洽谈、深入评审</p>
            <p>确认合作、签订合同</p>
            <p>提出需求、提供jd</p>
            <p>确立招聘标准</p>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="flow-img">
            <img src="../../images/findElite/zjy-liucheng-2.png" alt="">
          </div>
          <div class="flow-text">
            <p>开始招聘、候选人评审</p>
            <p>初步确立聘用意向</p>
            <p>背景调查</p>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="flow-img">
            <img src="../../images/findElite/zjy-liucheng-2.png" alt="">
          </div>
          <div class="flow-text">
            <p>发送聘请通知</p>
            <p>候选人上岗</p>
            <p>付款、转入售后服务</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="advantage">
    <div class="container">
      <div class="row">
        <div class="col-md-3">30%的行业标准收费水平</div>
        <div class="col-md-3">一半一半无风险的收费模式</div>
        <div class="col-md-3">试用期内不满重推的推荐制度</div>
        <div class="col-md-3">高价值高数量的人才储备机制</div>
      </div>
    </div>
  </div>
  <div class="success-case clearfix">
    <div class="container">
      <div class="row">
        <div class="elite-section-title text-center">
          <h3 class="elite-title-text"> 成功案例 </h3>
        </div>
        <div class="elite-success-logo col-lg-3 col-sm-6 col-xs-12 text-center"
             ng-repeat="item in vm.findElite track by $index">
          <div class="success-logo-box" ui-sref="app.companyMain.companyDetail({id:item.id})">
            <span>{{item.logo}}</span>
          </div>
        </div>
      </div>
    </div>
    <button class="elite-moreCompany" ui-sref="app.companyList"
            ng-class="{navChoice: $state.includes('app.companyList')}">
      更多合作公司
    </button>
  </div>




</div>